/* \\\\== Global ==//// */
:root {
  --colorA: #1992d4;
  --colorB: #e2e8f0;
  --colorC: #f0b429;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ccc;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  box-shadow: 0 3px 7px #555;
  border: none;
  border-radius: 50px;
  background-image: linear-gradient(to top left, #e91e63, #e95943, #da8334, #c5a543, #afc16a, #b3bf71, #b6be79, #b8bc80, #c1a273, #be8a74, #ad7779, #92697c);
  color: orangered;
  text-shadow: 0 2px 3px white;
  padding: 8px 20px;
  font-weight: bold;
  margin: 10px;
  width: 110px;
  cursor: pointer;
}
button:hover {
  background: lightblue;
}

/* \\\\== Global ==//// */
.wrapper {
  display: flex;
}

/* aside */
aside {
  width: 120px;
  background-image: linear-gradient(to bottom, #e91e63, #e95943, #da8334, #c5a543, #afc16a, #b3bf71, #b6be79, #b8bc80, #c1a273, #be8a74, #ad7779, #92697c);
  color: white;
  text-align: center;
  min-height: 100vh;
}

@media (width < 767px) {
  aside {
    width: 100px;
  }
}
aside h1 {
  font-weight: 100;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  rotate: 0.5turn;
  margin: 10px;
  line-height: 2.6;
}

aside .title i {
  display: block;
  margin: 20px auto;
  padding: 0 5px 0 0;
  font-size: 2em;
}

@media (width < 767px) {
  aside .title i {
    padding: 10px;
  }
}
aside ul:first-of-type {
  margin: 30px 0;
}

aside ul li {
  padding: 10px 0;
  display: flex;
  justify-content: start;
}

aside ul li a {
  color: white;
  font-weight: bold;
}

aside ul li i {
  font-size: 1.2em;
  margin-right: 20px;
}

/* aside */
/* NAV */
main {
  width: 100%;
}
main nav {
  padding: 20px;
  background-image: linear-gradient(to left top, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #e5e3e9, #e5e3e9, #cfc6d3, #bbaabb, #da8334, #ca4975, #ca4975);
}
main nav .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
main nav .search > i {
  font-size: 1.3em;
  margin-left: auto;
}
main nav .search input {
  flex: 1 0 70%;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: var(--colorB);
  height: 40px;
  padding: 15px;
  caret-color: var(--colorA);
  box-shadow: 0 2px 5px #444;
}
main nav .search .bell {
  display: flex;
  justify-content: end;
  align-items: center;
}
main nav .search .bell i {
  font-size: 1.3em;
  margin-right: 10px;
}
main nav .search .bell img {
  width: 50px;
  border-radius: 50%;
  margin: 0 20px;
}
main nav .search .bell h2 {
  margin-right: 20px;
  color: #030;
}
@media (width < 992px) {
  main nav .search .bell {
    display: none;
  }
}
main nav .user {
  display: flex;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}
@media (width < 767px) {
  main nav .user {
    flex-wrap: wrap;
    text-align: center;
  }
}
main nav .user img {
  width: 100px;
  border-radius: 50%;
}
@media (width < 767px) {
  main nav .user img {
    margin: auto;
  }
}
main nav .user .info {
  color: #777;
}
main nav .user .info p {
  font-weight: bold;
  color: #333;
}
main nav .user > i {
  display: none;
}
@media (max-width: 991px) {
  main nav .user > i {
    display: block;
  }
}
main nav .btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 30px;
}
@media (width < 555px) {
  main nav .btns {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

/* NAV */
/* CONTENT */
/* Articles */
.content {
  flex: 1 0 100%;
  box-shadow: 0 0 7px 5px #ccc inset;
  background-color: var(--colorB);
}
.content h2.your-books {
  text-shadow: 0 4px 10px #888;
  padding: 20px;
  font-size: 1.4rem;
}
.content .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 0 20px 20px;
}
.content .container .box {
  background-color: white;
  padding: 30px 20px;
  border-left: 5px solid var(--colorC);
  border-radius: 6px;
  box-shadow: 0 0 10px 5px #ccc;
  min-height: 250px;
}
.content .container .box h3 {
  font-size: 1.1rem;
  margin-bottom: 15px;
}
.content .container .box p {
  font-weight: 300;
  color: #888;
  margin-bottom: 20px;
  line-height: 1.5;
}
.content .container .box .icons {
  text-align: right;
}
.content .container .box .icons i {
  font-size: 1.3rem;
  margin-left: 15px;
  color: #888;
  cursor: pointer;
}

/* Articles *//*# sourceMappingURL=dash.css.map */